body {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

.business-card, .social-media {
  width: 300px;
  text-align: center;
  background-color: grey;
  padding: 20px;
  margin: auto;
}

.business-card {
  font-size: 16px;
  border-radius: 16px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; 
  box-sizing: bordrer-box;
}

.full-name {
  font-size: 18px;
  font-weight: bold;
}


.social-media {
  max-width: 200px;
  margin: 0 auto;
}

h2 {
  margin-top: 0px;
}

.profile-image {
  max-width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid black;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-media a {
  color: purple;
  display: inline-block;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}

hr {
  background-color: black;
  border: none;
  height: 2px;
  margin: 5px 0px;
  width: 300px;
  
}


.social-media a:hover {
  color: darkviolet;
  font-size:20px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.contact-info:hover {
  color: darkviolet;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-info {
  color: black;
  transform: scale(1.1);
}

.portfolio-link {
  display: block;
  margin-top: 10px;
  color: darkred;
}

.portfolio-link:hover {
  color: darkviolet;
  font-size:17px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}